@model IEnumerable<mvc.Models.Entities.MemberUnit>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>PhoneNumber</th>
            <th>WebsiteUrl</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Address</td>
            <td>@item.PhoneNumber</td>
            <td>@item.WebsiteUrl</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemberUnitId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberUnitId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemberUnitId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table> 